.featured {
    background-color: #2A4189;
}

.col_left {
    display: flex;
    padding-left: 60px;
    align-items: center;
}

.col_left h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 800;
}

.col_left h1 span {
    color: #FFB31A;
}

.featured_img {
    width: 85%;
}

.col_bottom, .col_bottom a {
    color: #FFF;
    font-size: 25px;
    text-align: center;
}


@media (max-width: 1028px)  {
    .featured {
        height: 100vh;
    }
    .col_left {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        padding-left: 0;
        text-align: center;
    }

    .col_left h1 {
        font-size: 24px;
    }
}