.featured {
    height: calc(100vh - 80px);
    background-color: #fff;
}

.col_left {
    display: flex;
    padding-left: 60px;
    align-items: center;
}

.col_left h1 {
    color: #000;
    font-size: 50px;
    font-weight: 800;
}

.col_left h1 span {
    color: #FFB31A;
}

.col_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.featured_img {
    width: 85%;
}

.col_bottom, .col_bottom a {
    color: #000;
    font-size: 25px;
    text-align: center;
    padding-top: 80px;
}


@media (max-width: 1028px)  {
    .col_left {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        padding-left: 0;
        text-align: center;
    }

    .col_left h1 {
        font-size: 2rem;
    }

    .featured_img {
        width: 100%;
    }

    .col_bottom a {
        display: none;
    }
}