.footer {
    background-color: #F5F5F5;
}
.footer_row {
    margin: 10px;
    padding: 50px;
    color: #00425A;
}

.copyright {
    margin: 0 1px;
    padding: 0 10px;
}

.row div {
    margin-top: 20px;
}

.col_12 {
    text-align: center;
}

.col_12 h3 {
    font-weight: 600;
}

.col_12 h1 {
    color: #FF2400;
    font-weight: 800;
    text-transform: capitalize;
}

.col_right_copyright {
    padding-left: 20%;
}

@media (max-width: 1028px) {
    .footer_row {
        padding: 0 20px;
    }

    .col_12 h1 {
        font-size: 0.8rem;
    }

    .col_right_copyright {
        font-size: 0.8rem;
        padding-left: 0;
    }
}